
#top-section {
    flex: 2;
    background-color: #d8cccc;
    width: 100%;
    margin: auto;
    border-radius: 25px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#buttons_and_options {
    background-color: #f8f4dc;
    width: 95%;
    margin: auto;
    padding: 0.7%;
}
legend {
    text-align: left;
}
button {
    margin: 2%;
    color: white;
    background-color: #0864ac;
    padding: 0.7% 5% 0.7% 5%;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s linear;
    border: none;
    border-style: inset;
}
button:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}
.inputs {
    border: solid black thin;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
#inputs-id {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}
.form-row {
    flex: 1;
    align-items: center;
    background-color: #f8f4f4;
}
#main_section {
    flex: 4;
}
#amount {
    width: 270px;
}
