header, footer {
    flex: 1;
    background-color: white;
    border: solid thin black;
    border-radius: 25px;
    margin: auto;
    width: 100%;
}
#main_container {
    display: flex;
    flex-direction: column;
    background-color: #d4d4ec;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}
#middle-section {
    flex: 4;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 15px;
    border-radius: 25px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
#main-section {
    background-color: #99aaab;
    height: 400px;
    border-radius: 25px;
    margin-top: 5px;
    overflow-y: scroll;

}
table {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    background-color: white;
}
tbody tr:nth-child(odd) {
    background-color: lightgray;
}
td {
    border: 1px solid black;
}
th {
    color: white;
    background-color: black;
}
fieldset {
    flex-wrap: wrap;
}